<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Lista de Destinos
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>

<mat-card>
    <mat-card-content>
        <mat-card-title>Ingreso de Información</mat-card-title>
        <mat-card-subtitle>Acompañantes y destino</mat-card-subtitle>

        <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
         
    </mat-card-content>
</mat-card>

<div fxLayout="row wrap">
    <app-destino-viaje *ngFor="let d of destinos;" [destino]="d" (onItemEditado)="editarViaje($event)" (onDelete)="eliminarDestino($event)"></app-destino-viaje>
    <!-- <app-destino-viaje (onItemEditado) = "editarViaje($event)"></app-destino-viaje> -->
    <!-- <app-destino-viaje (propagar)="editar($event)"></app-destino-viaje>  -->
</div>
