<div fxFlex.gt-sm="33.33%" fxFlex="100">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <button mat-icon-button color="primary">
                    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                </button>
            </div>
            <mat-card-title>{{destino.nombreDestino}}</mat-card-title>
            
            <mat-card-subtitle>{{destino.nombreOrganizador}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/big/img4.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
            <p>Servicios</p>
            <ul>
                <li *ngFor = "let s of destino.servicios"> 
                    <span [ngSwitch]="s">
                        <i *ngSwitchCase= "'Desayuno'">{{s}}</i>
                        <i *ngSwitchDefault>{{s}}</i>
                        
                    </span>
                </li>
            </ul>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="ir()">Navegar!</button>
                <button mat-button [routerLink]="['/destino']">Ver Detalle</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>
